<!DOCTYPE html>
<html>
  <head>
    <title>MockDoc: get what you pay for in healthcare.</title>
    <meta chartset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/x-icon' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
